<button mat-icon-button matTooltip="Home"  routerLink="/home-page" routerLinkActive="active"><mat-icon>home</mat-icon></button>

<button mat-icon-button matTooltip="Log Out" class="example-icon favorite-icon" aria-label="Example icon-button with share icon"
    (click)="auth.SignOut()" routerLinkActive="active">
<mat-icon>exit_to_app</mat-icon>
</button>

<div class="box" style="width:450px">
    <img class="image" src="assets/images/pic1.png"/>
    <h1>Stack Underflow</h1>
</div>

<div *ngIf="auth.user$ | async as user">
<div class="row">
    <div class="column">
    <mat-card class="matcard1">
        <mat-card-title>Profile
            <!-- <img class="user-image" src="{{(user.photoURL) ? user.photoURL : '/assets/images/dummy-user.png'}}" alt="{{user.displayName}}"> -->
        </mat-card-title>
        
            <form>
            <mat-list>
                <mat-list-item>
                    <mat-form-field>
                    <mat-label>Display Name</mat-label>
                    <input matInput #displayName value="{{user.displayName}}">
                </mat-form-field>
                </mat-list-item>
             <p></p>
                <mat-divider></mat-divider>
                <p></p>
                <mat-list-item>
                    <mat-form-field>
                        <mat-label>Date of Birth</mat-label>
                        <input matInput #DoB value="{{user.DoB}}">
                    </mat-form-field>
                </mat-list-item>
                <p></p>
                <mat-divider></mat-divider>
                <p></p>
                <mat-list-item>
                    <mat-form-field>
                    <mat-label>Age</mat-label>
                    <input matInput #age value="{{ user.age }}">
                </mat-form-field>
                </mat-list-item>
                <p></p>
                <mat-divider></mat-divider>
                <p></p>
                <mat-list-item>
                    <mat-form-field>
                        <mat-label>Email Address</mat-label>
                        <input matInput #email value="{{ user.email }}">
                    </mat-form-field>
                </mat-list-item>
                <p></p>
                <mat-divider></mat-divider>
                <p></p>
                <mat-list-item>
                    <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
                </mat-list-item>
                <p></p>
                <mat-divider></mat-divider>
                <p></p>
                <mat-list-item *ngIf='user.roles.editor == true'>
                    <p>Editor Role:<strong>{{user.roles.editor}}</strong></p>
                </mat-list-item>
                <mat-list-item *ngIf='user.roles.admin == true'>
                    <p>Admin Role:<strong>{{user.roles.admin}}</strong></p>
                </mat-list-item>
                <p></p>
                <mat-divider></mat-divider>
                <p></p>
                
                <br><button class="save" mat-raised-button (click)="auth.SettingsProfileSave(user.uid, displayName.value, DoB.value, age.value, email.value)">Save Profile</button>
            </mat-list>
            </form>
    </mat-card>
</div>

<div class="column">
    <mat-card >
        <div>
            <mat-card-title>Preferences</mat-card-title>
                <mat-list >
                    <mat-list-item>
                        <mat-form-field >
                            <mat-label>Languages you know</mat-label>
                            <input matInput disabled #lang value="{{user.languages.name}}">
                        </mat-form-field>
                    </mat-list-item>
                        <mat-list-item *ngIf="editPreferences">
                        <mat-checkbox *ngFor="let language of lauguagesData"  class="radio-button" (change)="onChangeEventFunc(language.name, $event)">
                            {{language.name}}
                        </mat-checkbox>
                        </mat-list-item>
                    <p></p>
                    <mat-divider></mat-divider>
                    <p></p>
                    <mat-list-item>
                        <mat-form-field>
                            <mat-label>Experience you have</mat-label>
                            <input matInput disabled #exp value="{{user.experience}}">
                        </mat-form-field>
                    </mat-list-item>
                    <mat-radio-group
                        class="radio-group"
                        [(ngModel)]="selectedExperience"
                        [formControl]="experienceControl">
                        <mat-list-item *ngIf="editPreferences">
                        <mat-radio-button class="radio-button" *ngFor="let experience of experiences" [value]="experience">
                        {{ experience }}
                        </mat-radio-button>
                        </mat-list-item>
                    </mat-radio-group>
                    <p></p>
                    <mat-divider></mat-divider>
                    <p></p>
                    <mat-list-item>
                        <mat-form-field>
                            <mat-label>Reason for Stack Underflow</mat-label>
                            <input matInput disabled #reason value="{{user.reasons.name}}">
                        </mat-form-field>
                    </mat-list-item>
                    <mat-list-item *ngIf="editPreferences" >
                        <mat-checkbox class="radio-button" *ngFor="let reason of reasonsData" (change)="onChangeEventFunc1(reason.name, $event)">
                            {{reason.name}}
                        </mat-checkbox>
                        </mat-list-item>
                    <p></p>
                    <mat-divider></mat-divider>
                    <p></p>
                    <br><button class="save" mat-raised-button *ngIf="!editPreferences" (click)="edit()">Edit Preferences</button>
                </mat-list>
                
               <br><button class="save" mat-raised-button (click)="auth.SettingsPrefSave(user.uid, form.value, selectedExperience, form1.value)">Save Preferences</button>
            </div>
        
    </mat-card>
    </div>
    </div>
</div>