.example-spacer {
    flex: 1 1 auto;
  }

.title {
    margin-left: 5px;
}

.mat-card-content {
    margin-top: 15px;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: #797a7e !important;
}

::ng-deep .mat-form-field-ripple {
  background-color: #797a7e !important;
}


.postTitle {
  background-color: #d8d3cd;
  margin-bottom: 8px;
  justify-content: center;
  text-align: center;
}
.mat-card {
    background-color: #d8d3cd;
    margin: 15px;
}

.postContent {
  font-size: medium;
}

.mat-dialog-container {
  // width: 250px;
  height: 250px;
  display: flex;
}

.mat-dialog-content {
    width: 400px;
    height: 300px;
    margin-top: 10px;
}

.mat-dialog-textarea{
  resize: both;
  width: 300px;
  
}

.dialogContent {
  width: 400px;
  // height: 100px;
}

.mat-raised-button {
  margin-bottom: 15px;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}


.mat-expansion-panel {
  width: 100%;
}

.commentSection {
  display: flex;
  float: right;
  align-items: right;
  width: auto;
  height: auto;
}

.inline {
  display: inline-block;
  // padding-top: 2px;
  // padding-bottom: 10px;
  margin-top: -6px;
  // margin-bottom: 5px;
}
.mat-chip-list-wrapper {
  margin-bottom: 4px;
}

.date {
  margin-bottom: 2px;
}

.example-full-width {
  width: 100%;
}

.divider{
  margin-top: 14px;
  
}