<div *ngIf="auth.user$ | async as user">
<mat-toolbar>
    <button mat-icon-button matTooltip="Menu" (click)="drawer.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
    </button>
    <span class="title">Stack Underflow Dashboard</span>
    <span class="example-spacer"></span>
    <div class="greeting">Welcome, {{user.displayName}}!</div>
    <router-outlet></router-outlet>
    <button mat-icon-button matTooltip="New Post" (click)="newPost()">
        <mat-icon>post_add</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Settings" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
    routerLink="/settings" routerLinkActive="active">
    <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Log Out" class="example-icon" aria-label="Example icon-button with share icon"
    (click)="auth.SignOut()" routerLinkActive="active">
    <mat-icon>exit_to_app</mat-icon>
    </button>
</mat-toolbar>
<mat-drawer-container autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <mat-nav-list>
            <a mat-list-item (click)="getAllPosts()">All Threads</a>
            <a mat-list-item (click)="getCPosts()">C Threads</a>
            <a mat-list-item (click)="getCPlusPosts()">C++ Threads</a>
            <a mat-list-item (click)="getCSharpPosts()">C# Threads</a>
            <a mat-list-item (click)="getPythonPosts()">Python Threads</a>
            <a mat-list-item (click)="getJavaPosts()">Java Threads</a>
          </mat-nav-list>
    </mat-drawer>



<mat-card *ngFor="let post of posts | async">
    <mat-card-header class="postTitle">
        <mat-card-title >{{post.data.title}}</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="postContent">{{post.data.content}}</mat-card-content>
    <mat-card-content >{{post.data.displayName}}</mat-card-content>
    <mat-card-content >{{post.data.createdDate.toDate() | date:'MM/dd/yyyy h:mm:ss a'}}</mat-card-content>
    <mat-card-content >Tags: {{post.data.tags}}</mat-card-content>
    <mat-action-row>
        <button mat-icon-button><mat-icon>share</mat-icon></button>
        <div *ngIf='post.data.uid == user.uid || user.roles.admin == true'>
        <button mat-icon-button matTooltip="Edit Post"><mat-icon>create</mat-icon></button>
        <button mat-icon-button matTooltip="Delete Post" (click)="auth.deletePost(post.id)"><mat-icon>delete</mat-icon></button></div>
    </mat-action-row>
    
    <mat-divider></mat-divider>
    
    <mat-card-actions>
        <mat-accordian>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>View Comments</mat-panel-title>
                <mat-panel-desription>
                    <mat-icon>comment</mat-icon>
                </mat-panel-desription>
            </mat-expansion-panel-header>
            
            <div *ngFor="let comment of postComment | async" [commentID]="comment.id">
                {{comment}}
            </div>
            <mat-action-row>
                <form class="comment">
                    <mat-form-field>
                        <mat-label>Comment</mat-label>
                        <input matInput name="something" placeholder="Start typing your comment" #comment/>
                    </mat-form-field>
                </form>
                <button mat-icon-button matTooltip="Add Comment" (click)="addComment(comment.value, user.uid, user.displayName, post.data.id)"><mat-icon>add_comment</mat-icon></button>
            </mat-action-row>
    </mat-expansion-panel>
</mat-accordian>
    </mat-card-actions>
</mat-card> 
 </mat-drawer-container>  
</div>